* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Arial', sans-serif;
    background-color: #f4f4f4;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    height: 100vh;
}

/* Navbar styles */
.navbar {
    width: 100%;
    background-color: #333;
    padding: 15px;
    border-radius: 10px 10px 0 0; /* Smooth corners at the top */
    color: white;
    text-align: center;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
}

.navbar h2 {
    margin: 0;
    font-size: 24px;
    font-weight: bold;
}

.container {
    display: flex;
    justify-content: space-between;
    width: 900px;
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
    margin-top: 150px; /* Added margin to push the container below the navbar */
}

.left-container {
    width: 45%;
}

.right-container {
    width: 50%;
    background-color: #f9f9f9;
    padding: 15px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1, h3 {
    text-align: center;
    margin-bottom: 20px;
}

.form-control {
    margin-bottom: 10px;
}

input, select {
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ddd;
    margin-bottom: 10px;
}

.btn {
    width: 100%;
    background-color: #333;
    color: white;
    padding: 10px;
    cursor: pointer;
    border: none;
    border-radius: 5px;
}

.btn:hover {
    background-color: #555;
}

.filter {
    margin-bottom: 20px;
}

ul.book-list {
    list-style: none;
    margin-bottom: 20px;
    padding: 0;
}

ul.book-list li {
    background-color: #f9f9f9;
    padding: 10px;
    border-left: 5px solid;
    margin-bottom: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

ul.book-list li.to-read {
    border-color: #f39c12;
}

ul.book-list li.currently-reading {
    border-color: #2980b9;
}

ul.book-list li.finished {
    border-color: #27ae60;
}

.delete-btn {
    background-color: #e74c3c;
    color: white;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    border-radius: 3px;
}

.delete-btn:hover {
    background-color: #c0392b;
}
